/* Selector universal */
body{
    background: beige;
    font-family: 'Courier New', Courier, monospace;
}
a{
    font-size: 55px;
    text-decoration: none;
}
a:hover {
    background-color: bisque;
    color: #3d3d3d;
    animation: ease;
    cursor: cell;
}
a:link {
    color: green;
}