/* Selector universal */
body{
    background: beige;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    width: 90%;
    margin: auto;
}

.block {
    float: right;
    width: 30.5%;
    border: 1px #3c3c3c solid;
    padding: 8px;
    box-sizing: border-box;
}